In [3]:
import pandas as pd
import numpy as np
import gurobipy as gp
from gurobipy import GRB

# # Load all CSV files
# Demand_Data_Normalized = pd.read_csv('../Data/ModelData/Demand_YearlyDemandUtilityProfile_Normalized.csv', delimiter=',')
# Fuel_Cost_Data_Normalized = pd.read_csv('../Data\ModelData\FuelCost_PriceDevelopment50years.csv', delimiter=',')
# Generation_Data_Normalized = pd.read_csv('../Data\ModelData\VRE_YearlyGenerationProfile_Normalized.csv', delimiter=',')
# Generation_Asset_Data_Existing = pd.read_csv('../Data\ModelData\Generators_AssetData_Existing.csv', delimiter=',')
# Demand_Unit_Data = pd.read_csv('../Data\ModelData\Demand_UnitSpecificData.csv', delimiter=',')
# System_Demand = pd.read_csv('../Data\ModelData\System_Demand.csv', delimiter=',')
# Transmission_Capacity = pd.read_csv('../Data\ModelData\Transmission Capacity.csv', delimiter=',')

#Load csv files 
HourlyMCP = pd.read_csv('../Data/ModelData/HourlyMCPDemo.csv', delimiter=',')
Fuel_Cost_Forecast_Normalized = pd.read_csv('../Data/ModelData/FuelCost_PriceDevelopment50years.csv', delimiter=',')
Generation_Asset_Data_New = pd.read_csv('../Data/ModelData/Generators_AssetData_New.csv', delimiter=',')
VRE_Generation_profile = pd.read_csv('../Data/ModelData/VRE_YearlyGenerationProfile_Normalized.csv', delimiter=',')

#Define budget 
budget = 1000000000

In [14]:
Demand_Data_Normalized

,Season,Hour,D_Residential,U_Residential,D_IndustryBase,U_IndustryBase,D_ IndustryPeak,U_ IndustryPeak
0,1,1,0.734934,1000,1,125,0.0,75
1,1,2,0.716599,1000,1,125,0.0,75
2,1,3,0.716209,1000,1,125,0.0,75
3,1,4,0.731226,1000,1,125,0.0,75
4,1,5,0.759359,1000,1,125,0.0,75
...,...,...,...,...,...,...,...,...
115,5,20,0.886242,1000,1,125,0.0,75
116,5,21,0.960201,1000,1,125,0.0,75
117,5,22,0.953578,1000,1,125,0.0,75
118,5,23,0.905910,1000,1,125,0.0,75
119,5,24,0.849724,1000,1,125,0.0,75

In [15]:
Generation_Asset_Data_New

,Unit #,Zone,Technology,P_max (MW),P_min (MW),P_max current (MW),C_CapInv ($/MW),C_i ($/MWh),MaxInv (MW)
0,1,0,Coal,152,30.40,0,800000,30,200
1,2,0,Coal,152,30.40,0,800000,30,200
2,3,0,Coal,200,75.00,0,800000,30,200
3,4,0,Gas,200,206.85,0,820000,60,200
4,5,0,Gas,60,12.00,0,820000,60,200
5,6,0,Coal,155,54.25,0,800000,30,200
6,7,0,Coal,155,54.25,0,800000,30,200
7,8,1,Wind,200,100.00,0,1450000,0,200
8,9,1,Wind,200,100.00,0,1450000,0,200
9,10,1,PV,200,300.00,0,1500000,0,200
10,11,1,Wind,200,108.50,0,1450000,0,200
11,12,1,Wind,200,140.00,0,1450000,0,200
12,13,0,Wind,200,50.00,0,1450000,0,200
13,14,1,Gas,100,10.00,0,820000,60,200
14,15,0,PV,60,6.00,0,1500000,0,200
15,16,1,Coal,200,20.00,0,800000,30,200

In [16]:
Generation_Asset_Data_New['Unit #']

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
Name: Unit #, dtype: int64

In [17]:
#Define modelling time horizon
#Amount of years
Y = 1

#Amount of seasons in a year
S = 1

#Amount of hours in a season
H = 24

In [18]:
#Initialize the model
m = gp.Model("InvestmentModel")

Inv_NewCap = m.addVars(Generation_Asset_Data_New['Unit #'], vtype=GRB.CONTINUOUS, name="Inv_NewCap")
#Energy generated by investment opportunity i in hour h
P_NewCap = m.addVars(Generation_Asset_Data_New['Unit #'], H, vtype=GRB.CONTINUOUS, name="P_NewCap")

Set parameter Username
Academic license - for non-commercial use only - expires 2025-09-04

In [25]:
gen = len(Generation_Asset_Data_New['Unit #'])
line = [[m.addVar(lb=0, name=f"var_{i}_{j}") for j in range(gen)] for i in range(H)]

In [28]:
line[0][0]

In [37]:
Inv_NewCap[1]

In [49]:
P_NewCap[1,1]